<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT_rRCNYbEtU07k04JXIhbEmp2IsVf2AY</string>
	<key>GCM_SENDER_ID</key>
	<string>192164705001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diona.MessangerTutorial</string>
	<key>PROJECT_ID</key>
	<string>messangertutorial-548af</string>
	<key>STORAGE_BUCKET</key>
	<string>messangertutorial-548af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192164705001:ios:a537e5b4781b949e203678</string>
</dict>
</plist>